@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* shared styles */
.display-flex {
    display: flex;

}

.text-gray {
    color: #424242;
}

.text-light-gray,
.first-h3 {
    color: #757575;
    margin-bottom: 20px;
}

.section-title {
    font-weight: 500;
    font-size: 2.8rem;
    font-family: work sans;
    margin-bottom: 24px;
}

.section-titles {
    font-weight: 600;
    font-size: 2.8rem;
    font-family: work sans;
    margin-bottom: 24px;
}

#same-fact-section {
    font-weight: 700;
    font-size: 2.8rem;
}


/* header styles */

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
    background-color: #FF900E;
    color: white;
    font-size: 1.25rem;
    border-radius: 8px;
    font-weight: 600;
    padding: 20px 25px;
    border: none;
}

main {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 50px;
}

main>section {
    margin-top: 130px;
}

/* navber releted styles */

.navber {
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-weight: 700;
    font-size: 3rem;
}

.nav-item {
    list-style: none;
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
    font-weight: 500px;
}

.navber,
.banner {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 50px;
}

/* Banner */

.banner-container {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font: 700;
    font-size: 4rem;
    font-family: Work Sans;
}

.banner p {
    color: #727272;
    line-height: 1.5rem;
    margin-top: 24px;
    margin-bottom: 32px;
}

.banner-image {
    width: 100%;
}

/* Team and Feature */
.team {
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features {
    margin-left: 130px;
    max-width: 530px;
}



.second-h3 {
    font-weight: 700;
    color: #131313;
}

.third-h3 {
    font-weight: 700;
    color: #FF900E;
}

.features-description {
    color: #727272;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 32px;

}

#experience-badge {
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -30px;
    margin-top: -100px;
}

#experience-year {
    font-size: 4rem;
    font-weight: 700;
}

/* same fact */

.same-facts {
    display: flex;
    gap: 70px;
}

.architect-img {
    width: 708px;
}

#same-fact-section {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature-card-fact {
    padding: 30px;
    box-shadow: 0 4px 30px 0px #727272;
    border-radius: 8px;
    margin-bottom: 20px;
}

.feature-card .feature-title {
    font-weight: 600;
    font-size: 1.25px;
}

/* facts */
.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.facts-container .fact-card {
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 241px;
    height: 241px;
    /* padding: 30px 0px 0px 0px; */
}

.fact-number {
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name {
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 10px;
    color: #727272;
}

.fact-description {
    max-width: 540px;
    margin-bottom: 130px;
    line-height: 1.6;
}

/* Sponspors Section */

.Sponspors-content {
    margin: 0 auto;
    text-align: center;
}

.Sponspors-content h3 {
    font-weight: 700;
    font-size: 2.8rem;
    color: #131313;
    margin-bottom: 24px;
}

.Sponspors-content p {
    color: #727272;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 70px;
}

.Sponspors-card-section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 130px;
}

.Sponspors-card-section img {
    width: 150px;
    height: 40px;
}

/* Fotter */

footer {
    background-color: #FFF4E7;
    width: 1440px;
    height: 100px;
    margin-bottom: 216px;
    align-items: center;
    justify-content: center;

}

footer p {
    padding: 39px 410px;
    text-align: center;
    color: #424242;
}

/* Responsive Media Query */

@media screen and (max-width:576px) {
    .navber h3 {
        font-size: 500;
        align-items: center;
        justify-content: center;
        font-weight: 2.5rem;
    }

    .facts-container,
    .navber {
        grid-template-columns: 1fr;
    }

    .navber,
    .same-facts,
    .team,
    .feature-card-fact,
    .Sponspors-card-section {
        flex-direction: column;
    }

    .team-img-container,
    .Sponspors-card-section {
        grid-template-columns: repeat(1, 1fr);
    }

    .our-features {
        margin-left: 20px;
    }

    .Sponspors-card-section img {
        margin-left: 60px;
    }

    .feature-arc img {
        width: 100%;
    }
}

/* Medium Device */

@media screen and (min-width:576px) and (max-width:992px) {

    .team,
    .sfeature-card-fact,
    .same-facts {
        flex-direction: column;
    }

    .facts-container {
        grid-template-columns: 1fr 1fr;
    }

    .our-features {
        margin-left: 50px;
    }
}